<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.api.mapper.ConsultMapper">
  <resultMap id="BaseResultMap" type="com.kk.api.entity.Consult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="did" jdbcType="BIGINT" property="did" />
    <result column="sid" jdbcType="BIGINT" property="sid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="assess" jdbcType="VARCHAR" property="assess" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>