<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.api.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.kk.api.entity.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="code" jdbcType="BIGINT" property="code" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="specialty" jdbcType="VARCHAR" property="specialty" />
    <result column="clazz" jdbcType="VARCHAR" property="clazz" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
  </resultMap>
</mapper>