<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.api.mapper.TTestMapper">
  <resultMap id="BaseResultMap" type="com.kk.api.entity.TTest">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sid" jdbcType="BIGINT" property="sid" />
    <result column="tid" jdbcType="BIGINT" property="tid" />
  </resultMap>
</mapper>