<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.api.mapper.TTestsMapper">
  <resultMap id="BaseResultMap" type="com.kk.api.entity.TTests">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="select_a" jdbcType="VARCHAR" property="selectA" />
    <result column="select_b" jdbcType="VARCHAR" property="selectB" />
    <result column="select_c" jdbcType="VARCHAR" property="selectC" />
    <result column="select_d" jdbcType="VARCHAR" property="selectD" />
    <result column="select_ok" jdbcType="VARCHAR" property="selectOk" />
    <result column="detial" jdbcType="VARCHAR" property="detial" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>